.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 3vh;
  padding-bottom: 5vh;
}

.container {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.imageContainer {
  height: 60vh;

  width: 100%;
}

.titleDescription {
  display: flex;
  flex-direction: column;
  padding: 0vh 2vh;
  gap: 2vh;
}

.titlePara {
  display: flex;
  align-items: center;
}

.titlePara h2 {
  font-size: medium;
  color: var(--text-color);
}

.titlePara span {
  font-weight: 350;
  color: var(--secondary-text);
}

.priceDiscount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.priceDiscount h2 {
  font-size: medium;
}

.priceDiscount h2 span:nth-child(1) {
  font-weight: 350;
}
.priceDiscount h2 span:nth-child(2) {
  background: linear-gradient(orange, red);
  color: white;
  padding: 0.2vh 1vh;
  font-size: small;
}

.cuponSection {
  padding: 1vh 2vh;
  background: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border-radius: 2vh;
}

.cuponSection h2 {
  font-size: medium;
  font-weight: 350;
  color: var(--secondary-text);
}

.cuponSection h2 span {
  font-weight: 700;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  width: 100%;
}

.selectSize {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1vh 0vh;
}

.selectSize h2 {
  font-size: medium;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.selectSize h2:nth-child(2) {
  color: var(--highlight-text);
  font-size: 1.7vh;
}

.sizeButtons {
  display: flex;
  flex-direction: row;
  gap: 1vh;
  overflow-x: scroll;
  padding-top: 1vh;
}

.sizeButtons button {
  height: 7vh;
  width: 8vh;
  border-radius: 2vh;
  border: 1px solid var(--border-color);
  background: none;
  outline: none;
}
.tradeBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 0vh;
}

.tradeBtn button:nth-child(1) {
  border: 1px solid var(--highlight-text);
  height: 6vh;
  width: 48%;
  background: none;
  border-radius: 2vh;
  color: var(--highlight-text);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
.tradeBtn button:nth-child(2) {
  border: 1px solid var(--highlight-text);
  height: 6vh;
  width: 48%;
  background: var(--primary-color);
  border-radius: 2vh;
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.delivarySection {
  padding: 0vh 2vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.delivaryTitle {
  font-size: large;
  color: var(--text-color);
}

.delivarySection input {
  height: 6vh;
  width: 98%;
  border: 1px solid var(--border-color);
  background: none;
  padding: 1.5vh;
  border-radius: 2vh;
}

.delivarySection input::placeholder {
  color: var(--highlight-text);
  font-weight: 700;
}

.delivaryExpress {
  display: flex;
  flex-direction: row;
  font-size: medium;
  color: var(--text-color);
  align-items: center;
  gap: 1vh;
  width: 100vw;
  padding-top: 2vh;
}

.delivaryExpress span {
  font-weight: 350;
  color: var(--secondary-text);
}

.delivaryCashOn span {
  font-weight: 350;
  color: var(--secondary-text);
}
.delivaryCashOn {
  display: flex;
  flex-direction: row;
  font-size: medium;
  color: var(--text-color);
  align-items: center;
  gap: 1vh;
  width: 100vw;
  padding-right: 2vh;
}
.delivaryExchange span {
  font-weight: 350;
  color: var(--secondary-text);
}

.delivaryExchange {
  display: flex;
  flex-direction: row;
  font-size: medium;
  color: var(--text-color);
  align-items: center;
  gap: 1vh;
  width: 100vw;
  padding-right: 2vh;
}

.specificationWrapper {
  width: 100%;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
}

.specifications {
  width: 98%;
  border: 1px solid var(--border-color);
  padding: 2vh;
  border-radius: 3vh;
}

.metarialsDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.metarialsDetails .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  justify-content: flex-end;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.metarialsDetails .right .section h2 {
  font-size: medium;
  color: var(--text-color);
}
.metarialsDetails .section p {
  font-size: small;
  color: var(--secondary-text);
  font-weight: 350;
}
.metarialsDetails .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.metarialsDetails .left .section h2 {
  font-size: medium;
  color: var(--text-color);
}
.metarialsDetails .left .section p {
  font-size: small;
  color: var(--secondary-text);
  font-weight: 350;
}

.seeMore {
  background: none;
  border: none;
  font-weight: 400;
  font-size: medium;
  color: var(--highlight-text);
}

.productDetails {
  padding-top: 2vh;
  font-size: medium;
  color: var(--text-color);
}
.pDetails {
  font-size: medium;
  color: var(--text-color);
}
.productDetails p {
  font-size: small;
}
.designSection {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.designSection h2 {
  font-size: medium;
  color: var(--text-color);
}
.designSection ul {
  font-size: small;
  color: var(--text-color);
  padding-left: 4vh;
  display: flex;
  flex-direction: column;
}

.sizeFit {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}

.sizeFit h2 {
  font-size: medium;
}
.sizeFit p {
  font-size: small;
}

.metarialsCare {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}
.metarialsCare h2 {
  font-size: medium;
}
.metarialsCare p {
  font-size: small;
}

.geniuneStamp {
  padding: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.genuine,
.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-text);
}

.geniuneStamp h2 {
  font-size: medium;
  font-weight: 350;
}

.returnInfo {
  padding: 2vh;
}

.returnInfo h2 {
  font-size: small;
  color: var(--text-color);
}

.returnInfo p {
  font-size: small;
  color: var(--secondary-text);
  font-weight: 350;
}

.similarProducts {
  padding: 2vh;
}

.sponsoredProducts {
  padding: 0vh 2vh;
}
.sponsoredProducts h2,
.similarProducts h2 {
  font-size: small;
  color: var(--text-color);
}

.similarProducts h2:nth-child(2) {
  font-size: x-small;
  color: var(--highlight-text2);
}

.productSlide {
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 1vh;
  height: fit-content;
  scrollbar-width: none;
  padding-bottom: 2vh;
}

.productSlide > * {
  min-width: 40%; /* Adjust as needed */
}

.reviewGraph {
  padding: 2vh;
}

.reviewTitle {
  font-size: medium;
}

.reviewPara {
  color: green;
  font-size: small;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.graphBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.starNumber {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;
  border-right: 1px solid var(--border-color);
  padding: 2vh;
}

.starNumber h2 {
  font-size: 5vh;
  display: flex;
}
.starNumber p {
  font-size: x-small;
  display: flex;
  width: 100%;
  font-weight: 500;
}

.starNumber h2 span {
  font-size: large;
  color: green;
}

.graphBars {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2vh;
}

.bar h2 {
  font-size: small;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vh;
}
.line {
  width: 70%;
  height: 0.5vh;
  background: var(--border-color);
  border-radius: 1vh;
  position: relative;
}

.line::before {
  content: "";
  width: 60%;
  height: 0.5vh;
  background: green;
  border-radius: 1vh;
  position: absolute;
  left: 0vh;
  bottom: 0vh;
}

.reviewsSections {
  padding: 2vh;
}

.reviewTitle {
  font-size: small;
}
.viewAll {
  color: var(--highlight-text);
  display: flex;
  align-items: center;
  font-size: medium;
}

.customerLiked {
  padding: 2vh;
}

.likedTitle {
  font-size: small;
}
